- extends "base.jade"     

- block scripts
    | {{super()}}
    script(src=url_for("static", filename="js/app.js"))


- block content
    .container
        .header
            a(href=url_for("index"))
                .logo.col-xs-8
                    .logo-icon
                        img(src=url_for("static", filename=path))
                    .logo-titles
                        .logo-title Horoscope
                        .logo-subtitle Знай как жить
            .col-xs-4.setting
                p.hello-user 
                    | Привет, 
                    span= name
                a(href=url_for("cookies"))
                    .setting-icon
                        img(src=url_for("static", filename="img/setting-icon.svg"))
        .card.tomorrow#card-tomorrow
            .top-line.row
                .date.col-xs-8
                    p.mb-0.accent= dates.tomorrow
                .is-check.col-xs-4
                    p.mb-0.is-zodiac= zodiac
                    p.mb-0.is-day Завтра
            .card-body#card-body-tomorrow
                .card-hide#card-hide-tomorrow
                    .card-hide-wrap#card-hide-wrap-tomorrow
                        img.card-hide-img(src=url_for("static", filename="img/reveal-icon.svg"))
                        p.card-hide-text Узнать предсказание
                    img(src=url_for("static", filename="img/loader.svg")).loader#loader-tomorrow
                p.card-text#card-text-tomorrow
        .card.today#card-today
            .top-line.row
                .date.col-xs-8
                    p.mb-0.accent= dates.today
                .is-check.col-xs-4
                    p.mb-0.is-zodiac= zodiac
                    p.mb-0.is-day Сегодня
            .card-body#card-body-today
                .card-hide#card-hide-today
                    .card-hide-wrap#card-hide-wrap-today
                        img.card-hide-img(src=url_for("static", filename="img/reveal-icon.svg"))
                        p.card-hide-text Узнать предсказание
                    img(src=url_for("static", filename="img/loader.svg")).loader#loader-today
                p.card-text#card-text-today
        .card.yesterday#card-yesterday
            .top-line.row
                .date.col-xs-8
                    p.mb-0.accent= dates.yesterday
                .is-check.col-xs-4
                    p.mb-0.is-zodiac= zodiac
                    p.mb-0.is-day Вчера
            .card-body#card-body-yesterday
                .card-hide#card-hide-yesterday
                    .card-hide-wrap#card-hide-wrap-yesterday
                        img.card-hide-img(src=url_for("static", filename="img/reveal-icon.svg"))
                        p.card-hide-text Узнать предсказание
                    img(src=url_for("static", filename="img/loader.svg")).loader#loader-yesterday
                p.card-text#card-text-yesterday
    .menu
        .menu-items
            .yesterday-btn.menu-btn#yesterday-btn
                p Вчера
            .today-btn.menu-btn#today-btn.active
                p Сегодня
            .tomorrow-btn.menu-btn#tomorrow-btn
                p Завтра

