- extends "base.jade"     

- block scripts
    | {{super()}}
    script(src=url_for("static", filename="js/app.js"))


- block content
    .container
        .header 
            a(href=url_for("index"))
                .logo.col-xs-8
                    .logo-icon
                        img(src=url_for("static", filename=path))
                    .logo-titles
                        .logo-title Horoscope
                        .logo-subtitle Знай как жить
            .timer
                p Следующее предсказание будет через 12 часов
            .setting.col-xs-4
                .hello-user Привет, Георгий!
                a(href=url_for("cookies"))
                    .setting-icon
                        img(src=url_for("static", filename="img/setting-icon.svg"))
        .card
            .top-line.row
                .date.col-xs-8
                    p.mb-0.accent 13 марта / 2021
                .is-check.col-xs-4
                    p.mb-0= zodiac
            .card-body#card-body
                .card-hide#card-hide-today
                    .card-hide-wrap
                        img.card-hide-img(src=url_for("static", filename="img/reveal-icon.svg"))
                        p.card-hide-text Узнать предсказание
                    img(src=url_for("static", filename="img/loader.svg"))#loader
                p.card-text#card-text-today
    .menu
        .menu-items
            .yesterday
                p Вчера
            .today.active
                p Сегодня
            .tomorrow
                p Завтра

